@page
@model Petrochemical.Presentation.Web.Areas.Admin.Pages.Blog.ArticleCategory.IndexModel
@{
    const string pageName = "Article Category";
}

<div style="display: flex; justify-content: space-between; align-items: center">
    <h2 id="page-title">Article Category Management</h2>
    @*<a class="btn btn-success" data-toggle="modal" data-target="#createModal">New Article Category</a>*@
    @*<a class="btn btn-success" href="javascript:void(0)" onclick="openModal()">New Article Category</a>*@
    @*<a class="btn btn-success" href="javascript:void(0)" onclick="changeTitle('Inventory System')">Click Me To Change Title!</a>*@
    <a class="btn btn-success" href="#showmodal=@Url.Page("./Index", "Operations")">New Article Category</a>
</div>

<br/>

<div class="row">
    <div class="col-md-12">
        <div class="card" data-collapsed="0">
            <div class="card-header">
                <div class="card-title">
                    Search @pageName
                </div>
            </div>
            <div class="card-body">
                <form method="get" role="form" class="form-groups-bordered">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="SearchModel.Id" class="control-label sr-only">Id</label>
                            <input type="number" class="form-control" asp-for="SearchModel.Id" placeholder="Id" autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="SearchModel.Name" class="control-label sr-only">Name</label>
                            <input type="text" class="form-control" asp-for="SearchModel.Name" placeholder="Name" autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="SearchModel.Status" class="control-label sr-only">Status</label>
                            <select class="form-control" asp-for="SearchModel.Status">
                                <option value="0" selected="selected">All</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                        </div>
                    </div>
                    <p class="bs-example">
                        <button type="submit" class="btn btn-success">Search</button>
                        <a asp-page="./Index" class="btn btn-primary">Show All</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card" data-collapsed="0">
            <div class="card-header">
                <div class="card-title">
                    @pageName List
                </div>
            </div>
            <div class="card-body">

                <table class="table table-bordered datatable" id="table-1">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.ImagePath</td>
                            <td>@item.Name</td>
                            <td>
                                @if (item.IsRemoved)
                                {
                                    <span class="text-danger">Inactive</span>
                                }
                                else
                                {
                                    <span class="text-success">active</span>
                                }
                            </td>
                            <td>
                                    <a href="#showmodal=@Url.Page("./Index", "Operations", new {id = item.Id})" class="btn btn-primary btn-sm">
                                    Edit
                                </a>
                                @if (item.IsRemoved)
                                {
                                    <a href="#" class="btn btn-success btn-sm">
                                        Restore
                                    </a>
                                }
                                else
                                {
                                    <a href="#" class="btn btn-danger btn-sm">
                                        Remove
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        function openModal() {
            $("#createModal").modal('show');
        }

        //function changeTitle(text) {
        //    $('#page-title').text(text);
        //}
    </script>
}