@model Petrochemical.ApplicationContracts.ArticleCategory.ArticleCategoryOps

<form asp-page="./Index" asp-page-handler="Operations"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="RefereshList"
      data-refereshurl="@Url.Page("./Index", "List")"
      data-refereshdiv="#list">
    <div class="modal-header">
        @if (Model.Id > 0)
        {
            <h4 class="modal-title">Edit Article Category: @Model.Name</h4>
        }
        else
        {
            <h4 class="modal-title">Create New Article Category</h4>
        }
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label asp-for="Name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" asp-for="Name"
                       placeholder="Name" autocomplete="off">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ImagePath" class="col-sm-3 control-label">Image Path</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" asp-for="ImagePath"
                       placeholder="Image Path" autocomplete="off">
                <span class="text-danger" asp-validation-for="ImagePath"></span>
            </div>
        </div>

        @if (Model.Id > 0)
        {
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
        }

        @{
            var btnName = "Create";
            if (Model.Id > 0)
            {
                btnName = "Edit";
            }
        }

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success"> @btnName </button>
    </div>
    
</form>